/* selector {
    property: value
} */

/* ids are used unique styling */

/* #myHeader {
    color: aqua;
} */

/* 
classes are used to style mutliple
element 
*/

/* .changeBG {
   font-size: 40px; 
} */